@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --corPrimaria: rgb(122, 10, 234);
    --fonte1: "Montserrat", serif;
}

*{
    box-sizing: border-box;
    outline: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--corPrimaria);
    font-family: var(--fonte1);
}

.container{
    background-color: white;
    width: 750px;
    padding: 20px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 45px;
}

.divcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    width: 550px;
}

#resultado{
    display: none; 
}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

form input{
    font-size: 24px;
    height: 54px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--corPrimaria);
}

form button{
    border: none;
    background-color: var(--corPrimaria);
    color: white;
    font-weight: bolder;
    cursor: pointer;
    height: 45px;
}

form button:hover{
    background-color: rgba(122, 10, 234, 0.286);
    transition: 0.5s;
    color: blue;
}